
<main>
<div class="container pt-5 mb3">
<div class="row " *ngIf="starShips">
  <div class="card-content col-sm-6 col-md-4"  *ngFor="let starship of starShips">
  <div class="card m-3 flex-fill" style="width: 20rem;">
    <a href="">
      <img src="../../../assets/flacon3.png" alt="Starships" >
    </a>
  </div>
  <div class="card-body">
    <div class="card-title">
      <h4>{{ starship.name }}</h4>
    </div>
  </div>
</div>
</div>
  <!------------------------------------------->

  <!--------------------------------------------------------------->
</div>
</main>
