@import "../../../Sass/colors";

footer{
  background-color: $myBgDark;
  background-image: url(../../../assets/footerBg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
