<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
<!--wrapper-->
<div class="container-fluid">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myMenu" aria-controls="myMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<!--what triggers-->
<div class="collapse navbar-collapse" id="myMenu">
  <ul class="navbar-nav row justify-content-center mt-5 border-top  pt-0">
    <li class="nav-item col-2 border-right border-left text-center pt-4"><a routerLink="/home" class="nav-link">Home</a></li>
    <li class="nav-item col-2 border-right border-left text-center pt-4"><a routerLink="/starships" class="nav-link">Starships</a></li>
    <li class="nav-item col-2 border-right border-left text-center pt-4"><a routerLink="/home" class="nav-link">Movies</a></li>
  </ul>
</div>

</div>
</nav>
