/* You can add global styles to this file, and also import other style files */
// typo
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');
* {
  font-family: 'Source Sans Pro','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
// colors
@import "./Sass/colors";

html, body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
